
//Import if Google Fonts URL is defined

@if variable-exists(font-url--google){
    @import url($font-url--google);
}



// Grid background colors

@each $themes , $color in $bg-colors-gr {

    .theme.col-#{$themes}{
        background-color: $color;
    }
    .theme.col-#{$themes}:hover {
        background-color: darken($color, 15%);
    }
}

//col flex-basis

@each $columns , $value in $grid-basis {
    .col#{$columns} {
        flex-basis: $value;
    }
}


//Buttons background colors

@each $themes , $color in $bg-color-btns {

    .#{$themes} {
        background-color: $color;
    }
    .#{$themes}:hover {
        background-color: lighten($color, 10%);
    }
}

