/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    font-family: $font-family--secondary;
    font-weight: $font-weight--medium;
    margin-top: 15px;
    width: 100%;
    color: $color-main;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      transition: all 0.6s ease 0s;
    }

  }
  
  
// Buttons background colors in _functions partial