/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $font-family--primary;
    color: $color-secondary;
    box-sizing: border-box;
    background: $body-bg;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
    font-family: $font-family--secondary;
    font-weight: $font-weight--medium;
    &:hover{
      transition: all 0.5s ease 0s;
    }
    
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  .headline{
    &-primary {
      color: $color-primary;
      margin-left: 10px;
    }
    &-secondary {
      font-weight: $font-weight--light;
      color: $color-secondary;
    }
  }
 
  
  .link {
    color: $color-link;
    font-weight: $font-weight--bold;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: $font-weight--light;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-primary;
    border-radius: 5px;
  }
  